@import url(//fonts.googleapis.com/css?family=Monoton);

:root {
    --header-height: 140px;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    height: var(--header-height);
    background-size: cover;
    position: relative;
}

#particles-js {
    height: var(--header-height);
    width: 100%;
    background: #262626;
    z-index: -1;
    position: absolute;
}


#overlay{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 30px;
}

.logo {
    color: mediumaquamarine;
    font-size: 70px;
    font-family: "Monoton", sans-serif;
    width: auto;
}

.main-nav{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    width: 350px;
    justify-content: center;
}

.main-nav li{   
    list-style: none;
}

.main-nav li a{
    color:white;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding: 10px;
}

.main-nav li a:hover{
    color: coral;
}

.main-nav li.active a{
    border: 1px solid white;
    color:coral;
}

.under-construction{
    position: absolute;
    width:100%;
    padding-top: 200px;
    text-align: center;
    vertical-align: middle;
    font-size: 100px;
    font-family: monospace, sans-serif;
}

.container-center {
    margin:75px auto;
    height: 500px;
    width: 1000px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-center-img {
    width: 350px;
    order: 2;
}

.container-center-p {
    width: 500px;
    order: 1;
}

.container-center-img {     
    height: inherit;
    display: flex;
    justify-content: center;
    order: 1;
}

.container-center-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
}

.container-center-img img {
    width: 350px;
}

.container-center-p p {
    font-size: 24px;
    margin-top: 10px;
    margin-left: 20px;
}

@media screen and (max-width: 1200px) {
    .header, #particles-js {
        height: 200px;
    }
    
    #overlay {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
    }
    
    .logo {
        font-size: 70px;
    }
    
    .main-nav li a {
        font-size: 50px;
    }
    
    .container-center {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
        height: auto;
    }
    
    .container-center-p {
        order: 1;
        width: 100%;
    }
    
    .container-center-p p {
        margin-left: 0;
        font-size: 40px;
    }
    
    .container-center-img {
        order: 2;
    }
    
    .container-center-img img {
        margin-top: 20px;
        height: 500px;
        width: auto;
    }
}
